<div class="container mt-4">
    <div class="row">
      <div class="mt-4 col-md-4" *ngFor="let pilot of pilots">
        <div class="card">
          <img src="assets/default.png" class="card-img-top" alt="Preview Image">
          <div class="card-body">
            <h5 class="card-title">{{ pilot.PilotName }}</h5>
            <p class="card-text"> </p>
          </div>
        </div>
      </div>
    </div>
</div>


<!-- 
         <div class="container mt-4"> *ngFor="let pilot of pilots">
         pilot.name;
         </div> -->