<!-- Navbar -->


<app-cookie>  </app-cookie>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="https://www.fmg-waldalgesheim.de/"
    ><img
      src="assets/LOGO.png"
      class="logo-small"
      style="width: 50px; margin-left: 10px"
  /></a>
  
  <hr />
 
  
  <button class="navbar-toggler" (click)="toggleNavbar()" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"> 
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse      navbar-collapse " id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#startseite">Startseite</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#sponsoren">Sponsoren</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#Flugsimulationstrainer">Flugsimulationstrainer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#Infos">Infos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#Teilnehmer">Teilnehmer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#registrieren">Zur Teilnahme als Pilot registrieren</a>
        </li>
      </ul>
    </div>
 
  
</nav>
<!-- Content -->
<div class="container">
  <h1 class="text-center mt-4" id="startseite">Helishow Waldalgesheim</h1>

  <div class="row">
    <div class="col">
      <div class="d-flex justify-content-center">
        <div class="background">
          <img
            src="assets/background.png"
            class="homepageimg img-fluid rounded"
          />
          <a href="https://www.fmg-waldalgesheim.de/"
            ><img
              src="assets/LOGO.png"
              class="homepageimg img-fluid logo"
              style="position: absolute; z-index: 1"
          /></a>
        </div>
      </div>
    </div>
  </div>
  <!-- Sponsoren -->
  
  <div class="sponsor-carousel"></div>
  <h2 class="mt-4" id="sponsoren">Sponsoren</h2>
  <div class="sponsor">
    <div class="row">
      <div class="col">
        <div class="d-flex justify-content-center">
          <div class="sponsor">
            <a href="https://www.nexspor.com/">
              <img src="assets/Nexpor.png" class="sponsor-img img-fluid" />
            </a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="d-flex justify-content-center">
          <div class="sponsor">
            <a href="https://www.mikado-heli.de/">
              <img src="assets/Mikado.png" class="sponsor-img img-fluid" />
            </a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="d-flex justify-content-center">
          <div class="sponsor">
            <a href="https://www.live-hobby.de/">
              <img src="assets/Live-Hobby.png" class="sponsor-img img-fluid" />
            </a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="d-flex justify-content-center">
          <div class="sponsor">
            <a href="https://www.maniax-power.eu/startseite/">
              <img src="assets/maniaX.png" class="sponsor-img img-fluid" />
            </a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="d-flex justify-content-center">
          <div class="sponsor">
            <a href="https://azurepowerusa.com/">
              <img src="assets/azure.png" class="sponsor-img img-fluid" />
            </a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="d-flex justify-content-center">
          <div class="sponsor">
            <a href="https://www.yge.de/">
              <img src="assets/YGE.png" class="sponsor-img img-fluid" />
            </a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="d-flex justify-content-center">
          <div class="sponsor">
            <a href="https://www.mylipo.de/">
              <img src="assets/mdlogo.png" class="sponsor-img img-fluid" />
            </a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="d-flex justify-content-center">
          <div class="sponsor">
            <a href="https://shop.rc-hangar15.de/">
              <img src="assets/rchangar.png" class="sponsor-img img-fluid" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
    <h2 class="mt-4 text-center mt-4 " id="Flugsimulationstrainer">Flugsimulationstrainer</h2>
  <div >
 
    <p class="text-center">
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <p>
            Der Mikado Flight Trainer unterstützt Heli Piloten-Anfänger beim Erlernen des Helifliegens. Mit verschiedenen Modi werden unterschiedliche Lernphasen unterstützt. Das beginnt mit dem "Guided" Mode, bei dem der Heli vom System geführt wird, und der Pilot sich gefahrlos, mit viel Spaß und ohne Stress an die Steuerung des Helis herantasten kann. Insbesondere kann man sich an die Ansicht des Helis in der Luft gewöhnen, und wie die Steuerung wirkt, wenn man z. B. auf sich zu fliegt. Der Heli wird beim Loslassen der Knüppel an der Stelle abgebremst. Es sind keinerlei Vorkenntnisse erforderlich.  
          </p>
        </div>
        <div>
            <div class="image-container">
              <div class="image-container">
                <img src="assets/Flugsimulator.jpg" class="img-fluid" alt="Flugsimulationstrainer">
              </div>
            </div>
        </div>
      </div>
  </div>

    
  
  <div id="Infos">
    <h2 class="mt-4 text-center mt-4">Infos</h2>
    <div class="border p-4">
      <p>
        Die Helishow Waldalgesheim ist ein Event für alle
        Helikopter-Begeisterten. Es wird ein Wettbewerb veranstaltet, bei dem
        die Teilnehmer ihre Fähigkeiten unter Beweis stellen können. Die
        Veranstaltung findet vom 27. bis 28. Juli in Waldalgesheim statt. Die
        Teilnahme ist kostenlos.
      </p>
      <div class="grid-container">
        <div class="grid-item">
          Adresse: Flugplatz Waldalgesheim, 55425 Waldalgesheim
        </div>
        <div class="grid-item">Dauer: 27. bis 28. Juli 2024</div>
        <div class="grid-item">Eintritt: Kostenlos</div>
        <div class="grid-item">
          Wettbewerbsteilnahme: Anmeldung erforderlich
        </div>
      </div>
    </div>

    <h2 class="mt-4 text-center mt-4" id="Teilnehmer">Teilnehmer</h2>
    <app-pilot></app-pilot>
    <!-- Content -->
    <div class="container"></div>

    <h2 class="mt-4 text-center mt-4" id="registrieren">
      Zur Teilnahme als Pilot registrieren
    </h2>
    <app-registrieren></app-registrieren>

    <footer class="footer mt-4 bg-dark">
      <div class="container">
        <div class="row">
          <div class="col">
            <p class="text-center" style="color: rgb(160, 159, 159)">
              Impressum
            </p>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <div class='impressum'><h1>Impressum</h1><p>Angaben gemäß § 5 TMG</p><p>Marlon Braun <br> 
    Hermann-Holz Straße 1<br> 
    56154 Boppard <br> 
    </p><p> <strong>Vertreten durch: </strong><br>
    Marlon Braun<br>
    </p><p><strong>Kontakt:</strong> <br>
    Telefon: +49 151 57678252<br>
    E-Mail: <a href='mailto:Marlon-braun&#64;gmx.de'>Marlon-Braun&#64;gmx.de</a>
  <br>
</p><p><strong>Haftungsausschluss: </strong><br><br><strong>Haftung für Inhalte</strong><br><br>
    Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte können wir jedoch keine Gewähr übernehmen. Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.<br><br><strong>Haftung für Links</strong><br><br>
    Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.<br><br><strong>Urheberrecht</strong><br><br>
    Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet. Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.<br><br><strong>Datenschutz</strong><br><br>
    Die Nutzung unserer Webseite ist in der Regel ohne Angabe personenbezogener Daten möglich. Soweit auf unseren Seiten personenbezogene Daten (beispielsweise Name, Anschrift oder eMail-Adressen) erhoben werden, erfolgt dies, soweit möglich, stets auf freiwilliger Basis. Diese Daten werden ohne Ihre ausdrückliche Zustimmung nicht an Dritte weitergegeben. <br>
    Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail) Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht möglich. <br>
    Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten Kontaktdaten durch Dritte zur Übersendung von nicht ausdrücklich angeforderter Werbung und Informationsmaterialien wird hiermit ausdrücklich widersprochen. Die Betreiber der Seiten behalten sich ausdrücklich rechtliche Schritte im Falle der unverlangten Zusendung von Werbeinformationen, etwa durch Spam-Mails, vor.<br>
    </p><br> 
    Impressum vom <a href="https://www.impressum-generator.de">Impressum Generator</a> der <a href="https://www.kanzlei-hasselbach.de/">Kanzlei Hasselbach, Rechtsanwälte für Arbeitsrecht und Familienrecht</a>
     </div>
  <style>
    .background {
      position: relative;
      background-image: url("assets/background.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
    }

    .logo {
      position: absolute;
      top: 23%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 30%;
      height: auto;
      background-image: url("assets/LOGO.png");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
  </style>
</div>
